<h1> Hi I am Himanshu Vaish,  An Intern at Innomatics Research Lab</h1>
<h2> I have made this flask app that will convert a given string into UPPER CASE. 
    Plese read the below user manual to use this web app.</h2>

<h3> User Manual :</h3>

<pr>This app is now works on Query Parameters, you have to give query parameter separated by "+" in the URL section.
    Please follow the following steps in order to use this web app.
</pr> 

<h4> Steps to use web app: </h4>
<h4> Step 01:</h4>
<pr> In the url section enter this first "http://127.0.0.1:5000/uppercase?strings=" and then after "=", enter the string that you want to convert in the upper case.</pr>